<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Template type -->
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

    <!-- Unique identifier for the template -->
    <key>Identifier</key>
    <string>com.example.swiftuitemplate</string>

    <!-- Parent templates -->
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
    </array>

    <!-- Specifies that this is a concrete (non-abstract) template -->
    <key>Concrete</key>
    <true/>

    <!-- The file that opens by default when the project is created -->
    <key>NameOfInitialFileForEditor</key>
    <string>SwiftUITemplateApp.swift</string>


    <!-- File for localization Localizable.xcstrings -->
    <key>NameOfInitialFileForEditor</key>
    <string>Localizable.xcstrings</string>

    <!-- Supported platforms -->
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>

    <!-- Targets configuration -->
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.iosApplicationTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>SWIFT_VERSION</key>
                <string>5.0</string>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/Frameworks</string>
                <key>TARGETED_DEVICE_FAMILY</key>
                <string>1</string>
                <key>SDKROOT</key>
                <string>iphoneos</string>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>latest_iphoneos</string>
                <key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone</key>
                <string>UIInterfaceOrientationPortrait</string>
                <key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
                <string>YES</string>
                <key>INFOPLIST_KEY_UILaunchStoryboardName</key>
                <string>Launch Screen</string>
            </dict>
            <key>Configurations</key>
            <dict>
                <key>Release</key>
                <dict>
                    <key>VALIDATE_PRODUCT</key>
                    <string>YES</string>
                </dict>
            </dict>
        </dict>
    </array>

    <!-- File structure of the template -->
    <key>Nodes</key>
    <array>
        <string>Config.xcconfig</string>
        <string>Screens/Home/HomeView.swift</string>
        <string>Screens/Home/HomeViewModel.swift</string>
        <string>Screens/Home/State/HomeState.swift</string>
        <string>Screens/HomeDetails/HomeDetailsView.swift</string>
        <string>Screens/HomeDetails/HomeDetailsViewModel.swift</string>
        <string>Screens/HomeDetails/State/HomeDetailsState.swift</string>
        <string>API/Entities/ErrorMain.swift</string>
        <string>API/Network/HomeNetworkService.swift</string>
        <string>API/Network/Base/Endpoint.swift</string>
        <string>API/Network/Base/HTTPMethod.swift</string>
        <string>API/Network/Base/NetworkError.swift</string>
        <string>API/Network/Base/NetworkManager.swift</string>
        <string>Base/Assembly/DependencyContainer.swift</string>
        <string>Base/Assembly/ViewModelAssembly.swift</string>
        <string>Base/Assembly/ServiceAssembly.swift</string>      
        <string>Base/Assembly/ResolverKey.swift</string>
        <string>Base/APIConfig.swift</string>
        <string>Base/ImageView.swift</string>
        <string>Extensions/Color+Extension.swift</string>
        <string>Extensions/Font+Extension.swift</string>
        <string>Extensions/Measurement+Extension.swift</string>
        <string>Extensions/UserDefaults+Extension.swift</string>
        <string>Extensions/View+Extension.swift</string>
        <string>Extensions/String+Extension.swift</string>
        <string>Resources/Assets.xcassets</string>
        <string>Resources/Launch Screen.storyboard</string>
        <string>Resources/SwiftUITemplateApp.swift</string>
        <string>Resources/Localizable.xcstrings</string>
   </array>

    <!-- Definitions of file paths and groups -->
    <key>Definitions</key>
    <dict>
        <!-- Main application file -->
        <key>SwiftUITemplateApp.swift</key>
        <dict>
            <key>Path</key>
            <string>SwiftUITemplateApp.swift</string>
        </dict>

        <!-- Config file -->
        <key>Config.xcconfig</key>
        <dict>
            <key>Path</key>
            <string>Config.xcconfig</string>
        </dict>

        <!-- Screens -->
        <!-- Home -->
        <key>Screens/Home/HomeView.swift</key>
        <dict>
            <key>Path</key>
            <string>Screens/Home/HomeView.swift</string>
            <key>Group</key>
            <array>
                <string>Screens</string>
                <string>Home</string>
            </array>
        </dict>
        <key>Screens/Home/HomeViewModel.swift</key>
        <dict>
            <key>Path</key>
            <string>Screens/Home/HomeViewModel.swift</string>
            <key>Group</key>
            <array>
                <string>Screens</string>
                <string>Home</string>
            </array>
        </dict>
        <key>Screens/Home/State/HomeState.swift</key>
        <dict>
            <key>Path</key>
            <string>Screens/Home/State/HomeState.swift</string>
            <key>Group</key>
            <array>
                <string>Screens</string>
                <string>Home</string>
                <string>State</string>
            </array>
        </dict>
        <!-- HomeDetails-->
        <key>Screens/HomeDetails/HomeDetailsView.swift</key>
        <dict>
            <key>Path</key>
            <string>Screens/HomeDetails/HomeDetailsView.swift</string>
            <key>Group</key>
            <array>
                <string>Screens</string>
                <string>HomeDetails</string>
            </array>
        </dict>
        <key>Screens/HomeDetails/HomeDetailsViewModel.swift</key>
        <dict>
            <key>Path</key>
            <string>Screens/HomeDetails/HomeDetailsViewModel.swift</string>
            <key>Group</key>
            <array>
                <string>Screens</string>
                <string>HomeDetails</string>
            </array>
        </dict>
        <key>Screens/HomeDetails/State/HomeDetailsState.swift</key>
        <dict>
            <key>Path</key>
            <string>Screens/HomeDetails/State/HomeDetailsState.swift</string>
            <key>Group</key>
            <array>
                <string>Screens</string>
                <string>HomeDetails</string>
                <string>State</string>
            </array>
        </dict>

        <!-- API -->
        <key>API/Entities/ErrorMain.swift</key>
        <dict>
            <key>Path</key>
            <string>API/Entities/ErrorMain.swift</string>
            <key>Group</key>
            <array>
                <string>API</string>
                <string>Entities</string>
            </array>
        </dict>
        <key>API/Network/HomeNetworkService.swift</key>
        <dict>
            <key>Path</key>
            <string>API/Network/HomeNetworkService.swift</string>
            <key>Group</key>
            <array>
                <string>API</string>
                <string>Network</string>
            </array>
        </dict>
        <key>API/Network/Base/Endpoint.swift</key>
        <dict>
            <key>Path</key>
            <string>API/Network/Base/Endpoint.swift</string>
            <key>Group</key>
            <array>
                <string>API</string>
                <string>Network</string>
                <string>Base</string>
            </array>
        </dict>
        <key>API/Network/Base/HTTPMethod.swift</key>
        <dict>
            <key>Path</key>
            <string>API/Network/Base/HTTPMethod.swift</string>
            <key>Group</key>
            <array>
                <string>API</string>
                <string>Network</string>
                <string>Base</string>
            </array>
        </dict>
        <key>API/Network/Base/NetworkError.swift</key>
        <dict>
            <key>Path</key>
            <string>API/Network/Base/NetworkError.swift</string>
            <key>Group</key>
            <array>
                <string>API</string>
                <string>Network</string>
                <string>Base</string>
            </array>
        </dict>
        <key>API/Network/Base/NetworkManager.swift</key>
        <dict>
            <key>Path</key>
            <string>API/Network/Base/NetworkManager.swift</string>
            <key>Group</key>
            <array>
                <string>API</string>
                <string>Network</string>
                <string>Base</string>
            </array>
        </dict>
        <!-- Base files -->
        <key>Base/Assembly/DependencyContainer.swift</key>
        <dict>
            <key>Path</key>
            <string>Base/Assembly/DependencyContainer.swift</string>
            <key>Group</key>
            <array>
                <string>Base</string>
                <string>Assembly</string>
            </array>
        </dict>
        <key>Base/Assembly/ViewModelAssembly.swift</key>
        <dict>
            <key>Path</key>
            <string>Base/Assembly/ViewModelAssembly.swift</string>
            <key>Group</key>
            <array>
                <string>Base</string>
                <string>Assembly</string>
            </array>
        </dict>
        <key>Base/Assembly/ServiceAssembly.swift</key>
        <dict>
            <key>Path</key>
            <string>Base/Assembly/ServiceAssembly.swift</string>
            <key>Group</key>
            <array>
                <string>Base</string>
                <string>Assembly</string>
            </array>
        </dict>
        <key>Base/Assembly/ResolverKey.swift</key>
        <dict>
            <key>Path</key>
            <string>Base/Assembly/ResolverKey.swift</string>
            <key>Group</key>
            <array>
                <string>Base</string>
                <string>Assembly</string>
            </array>
        </dict>
        <key>Base/APIConfig.swift</key>
        <dict>
            <key>Path</key>
            <string>Base/APIConfig.swift</string>
            <key>Group</key>
            <array>
                <string>Base</string>
            </array>
        </dict>
        <key>Base/ImageView.swift</key>
        <dict>
            <key>Path</key>
            <string>Base/ImageView.swift</string>
            <key>Group</key>
            <array>
                <string>Base</string>
            </array>
        </dict>

        <!-- Extensions -->
        <key>Extensions/Color+Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>Extensions/Color+Extension.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <key>Extensions/Font+Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>Extensions/Font+Extension.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <key>Extensions/Measurement+Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>Extensions/Measurement+Extension.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <key>Extensions/UserDefaults+Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>Extensions/UserDefaults+Extension.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <key>Extensions/View+Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>Extensions/View+Extension.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <key>Extensions/String+Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>Extensions/String+Extension.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <!-- Resources -->
        <key>Resources/Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Resources/Assets.xcassets</string>
            <key>Group</key>
            <array>
                <string>Resources</string>
            </array>
        </dict>
        <key>Resources/Launch Screen.storyboard</key>
        <dict>
            <key>Path</key>
            <string>Resources/Launch Screen.storyboard</string>
            <key>Group</key>
            <array>
                <string>Resources</string>
            </array>
        </dict>
        <key>Resources/SwiftUITemplateApp.swift</key>
        <dict>
            <key>Path</key>
            <string>Resources/SwiftUITemplateApp.swift</string>
            <key>Group</key>
            <array>
                <string>Resources</string>
            </array>
        </dict>
        <key>Resources/Localizable.xcstrings</key>
        <dict>
            <key>Path</key>
            <string>Resources/Localizable.xcstrings</string>
            <key>Group</key>
            <array>
                <string>Resources</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
